:root {
  --color-primary: #846c6cc9;
  --color-base: #474646;
  --border-style: solid 1px #d98181c1;
  --border-style-tooltip: solid 2px #f94646c1;
  --background-even: #fed3d34c;
  --background-table-header: #5953532b;
}

html,
body {
  position: relative;
  width: 100%;
  color: var(--color-base);
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: Consolas, sans-serif;
}
